body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
.main-div{
display: grid;
grid-template-columns: auto auto auto;
justify-content: center;
align-items: center;
}
.columns{
    margin: 10px;
    padding: 10px;
}
.image{
    height: 250px;
    width: 200px;
}
.price-div{
    display: flex;
    justify-content:space-evenly;
   
}